@page
@model ControlTower.Pages.Login.Login;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <fieldset>
        <legend>Login</legend>
        <div>
            <label for="CodEmpleado">Cod. Empleado:</label>
            <input type="text" name="CodEmpleado" value="" />
        </div>
        <div>
            <label for="ClaveEmpleado">Clave Empleado:</label>
            <input type="password" name="ClaveEmpleado" value="" />
        </div>
        
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="submit" class="submit" />
        </div>
    </fieldset>
</form>


